.wrapper{
    background-color: chocolate;
    display:block;
    border-radius: 0 0 1em 1em;
    width:100%;
    .firstblock{
        display:flex;
        justify-content: space-between;
        .logo{
            display:flex;
            flex-direction: row;
            img{
                border-radius: 50%;
                border:solid 0.2em white;
                margin:0.3em;
                max-width: 4.5em;
                max-height: 4.5em;
            }
            h1{
                color:white;
                font-size:4em;
                font-family:spartan;
                margin:0;
                margin-top:0.2em;
                
            }
        }
        app-accountview{
            margin-top: 0.5em;
        }
    }
    .navblock{
        z-index:10;
        background-color: rgba(255, 255, 255, 0);
        float:right;
        position: relative;
        height:3.5em;
        margin:0em;
        button{
            width:4em;
            height: 4em;
            
            background-color: rgba(255, 145, 42, 0.658);
            mat-icon{
                position: relative;
                right:0.12em;
                font-size:2.5em;
                color:rgba(255, 255, 255, 0.842);
            }
        }
    }
}