.container{
    margin-top:6em;
    width:100%;
    height:100%;
    .header{
        h1{
            background-color: orange;
            padding:0.5em;
            color:white;
            letter-spacing: 0.4em;
            font-size:2.5em;
            border-radius: 1em 1em 0 0;
            text-align: center;
        }
    }
    .servicescontainer{
        width: 100%;
        height:100%;
        display:flex;
        flex-wrap: wrap;
        justify-content:space-around;
        .service{
            .containerservice{
                margin-bottom:1em;
                margin-right:2.2em;
                width:10em;
                
            }
        }
    }
}